
    <div class="columns is-mobile">
        <div class="column is-6">
            <div class="card mb-3">
                <div class="card-content has-text-centered">
                    <p id="global-trend-text">
                        Global Trends
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-4">
                            <i class="fas fa-skull card-icon-red"></i>
                        </div>
                        <div class="column is-8">
                            <h1 class="card-title-text">
                                <span id="span-red">{{data.TotalDeaths}}</span><br> Total Deaths
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            
            <div class="card mb-2">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-4">
                            <i class="fas fa-check card-icon-blue"></i>
                        </div>
                        <div class="column is-8">
                            <h1 class="card-title-text">
                                <span id="span-blue">{{data.TotalConfirmed}}</span><br> Total Confirmed
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-4">
                            <i class="fas fa-heartbeat card-icon-green"></i>
                        </div>
                        <div class="column is-8">
                            <h1 class="card-title-text">
                                <span id="span-green">{{data.TotalRecovered}}</span><br> Total Recovered
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
