.card-title-text{
    font-size: 1.5rem;
}
#span-red{
    color: tomato;
    font-size: 2.5rem;
    font-weight: bold;
}
#span-green{
    color: rgb(0, 187, 93);
    font-size: 2.5rem;
    font-weight: bold;
}
#span-blue{
    color: rgb(0, 97, 207);
    font-size: 2.5rem;
    font-weight: bold;
}