<div class="card">
  <div class="card-content top-content" *ngIf="countries">
    <div class="columns is-vcentered is-mobile">
      <div class="column is-3 no-padding search-box">
        <mat-form-field class="ml-2 mt-1" appearance="outline">
          <mat-label>Country</mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            [(ngModel)]="selectedCountry"
            (ngModelChange)="filterSearchList()"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of countriesFilterList"
              [value]="option"
              (click)="prepareChartForCountry(option)"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="column is-1 spinner-box pb-3 pt-0 px-0">
        <mat-spinner
          diameter="50"
          *ngIf="showSpin1 || showSpin2 || showSpin3"
        ></mat-spinner>
      </div>
    </div>
  </div>
</div>
<div class="card card-chart">
  <div class="card-content">
    <div
    class="chart-container has-text-centered"
    *ngIf="
      lineChartData[0].data.length > 0 &&
      lineChartData[1].data.length > 0 &&
      lineChartData[2].data.length > 0
    "
  >
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      id="canvas"
    ></canvas>
  </div>
  </div>
</div>
